<table class='index_table_z' summary="Branch teachers index">
    <thead>	
		<tr>
			<th scope="col"> Name </th>
			<th scope="col"> ID number </th>
			<th scope="col"> Principal </th>
		</tr>
	</thead>
    <tbody>
		<% institution.branches.each do |b| %>
		<tr>
			<td> <%= link_to b.name, branch_path(b) %> </td>
			<td>	<%= b.id_no %>	</td>
			<td>	<%= b.principal %> </td>
		</tr>
	<% end %>
    </tbody>	
</table>		

