<table class='index_table_z' summary="Branch classes index">
    <thead>	
		<tr>
			<th scope="col"> Name </th>
		</tr>
	</thead>
    <tbody>
	<% branch.clazzs.each do |c| %>
		<tr>
			<td> <%= c.name %> </td>
		</tr>
	<% end %>
    </tbody>	
</table>		



