<tr class = "tfields">	
	<td><%= f.text_field :period_no, :size => 8 %></td>
	<td><%= f.time_select :starttime%></td>
	<td><%= f.time_select :endtime %></td>
	<td class='remove-button'><%= link_to_remove_fields "X", f %></td>
</tr>
 
 
	