<table class='index_table_z' summary="Branch subjects index">
    <thead>	
		<tr>
			<th scope="col"> Name </th>
		</tr>
	</thead>
    <tbody>
	<% branch.subjects.each do |s| %>
		<tr>
			<td> <%= s.name %> </td>
		</tr>
	<% end %>
    </tbody>	
</table>		




