<div class = "tfields">
	<tr> 
		<td>  <%= f.text_field :name, :size => 15 %> </td>
		<td>  <%= f.text_field :max_marks, :size => 4 %> </td>
		<td>  <%= link_to_remove_fields "remove", f %> </td>
	</tr>
</div>
 
	