<div id="content">
	<div class="padding">

	<h1>Edit Branch</h1>
	
	<%= render 'form' %>
	
	<br><br>	
    <%= link_to 'Show', @branch %> | 	<%= link_to 'Branches Index', branches_path %>
		
	</div>>
</div>