<div id="content">
	<div class="padding">

	<h1>Edit Institution</h1>
	
	<%= render 'form' %>
	
	<br><br>	
    <%= link_to 'Show', @institution %> | 	<%= link_to 'Institutions Index', institutions_path %>
		
	</div>>
</div>