<%= form_tag (email_student_path(student), :method => 'post',  :class => "zaform") do |f| %>		
	<table class="form-table"  summary="Student sms fields">
	    <tbody>	
			<%= render 'email_fields' %>
		</tbody>
	</table>	
	<%= submit_tag "Send Email" %>
<% end %>
