<%= form_tag (email_student_path(student)) do |f| %>		
	<div id="form-table-div">
		<p class='heading2'> Email </p>	
		<table class="form-table"  summary="Student Email fields">
		    <tbody>	
				<%= render 'email_fields' %>
				<tr><td class='button' colspan='2'><%= submit_tag  "Send Email" %></td></tr>				
			</tbody>
		</table>
	</div>	
<% end %>
