<div id="content">
	<div class="padding">		
		<h2>Email</h2>	
		<%= form_tag (email_student_path(student), {:method => 'post'}) do |f| %>		
			<%= render 'email_fields' %>
		<% end %>
	</div>
</div>