.hidden {
	display: none;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Helvetica, Sans-serif;
	font-size: 12px;
	color: #666666;
	background: #ffffff;
}

#page-container {
	width: 1000px;
	margin: auto;
}

#main-nav {
	background: #4C4646;
	height: 100px;
}

#main-nav h1 {
	color:#fff;
	float:left;
	font:3.2em 'Trebuchet MS', Verdana, sans-serif;
	height:100px;
	line-height:100px;
	margin:0 0 0 20px;
	width:180px;
}
#header {
	/* background: #092; */
	background:#8A2908;
	/* border-bottom: #fff solid 1px; */
	height: 50px;
	color: #fff;	
	padding-top: 20px; /* if this is changed to a lower value, the text moves to the middle. Need to debug.*/
	padding-left: 10px;
}

#header a{
	color: #fff;	
}

#tab_bar{
	color:#fff;
	/* background: #092; */
	background: #8A2908;
	height: 50px;
	
}
#tab_bar ul {
	float:right;
	height:50px;
	list-style:none;
	width:700px;
	/* background: #000; */
	margin: 0px;
	border:1px solid #000;
}
#tab_bar ul li {
	border-right:1px solid #fff;
	float:right;
	height:50px;
	list-style:none;
	width:75px;
	border:1px solid #000;
}

#tab_bar ul li a {
	color:#fff;
	background: green;
	display:block;
	height:50px;
	padding: 0;
	text-align:center;
	width:75px;
	text-decoration:none;	
	margin:0px;
	
}

#tab_bar ul li a.selected {
	background:#fff;
	color:#666;
}

#footer {
	clear: both;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #c9c9c9;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}

#footer a:hover {
	color: #db6d16;
}

#sidebar-r {
	float: right;
	width: 280px;
	/* border-left: #efefef solid 1px; */
}

#sidebar-r .padding {
	padding: 25px;
}

#content_box {
	/* border: #efefef solid 1px; */
	margin-right: 280px;
}

h1 {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

#content_box h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content_box p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content_box .field {
	padding: 6px;	
}

#content_box .actions {
	padding-top: 10px;
	padding-bottom: 40px;
	padding-right: 6px;
	padding-left: 6px;
}


