/*
body: #555 (Grey)
#nav-column strong:  #777 (Grey)
ul.nav-list li a: #000 (Black);
#tab-bar ul li a: #fff (White);
#header-drop-down ul li a: #000 (White);
.posts-table td light: #999;
.heading1, .heading2, .heading3: #333;
*/

.hidden {
	display: none;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
    font-family: Verdana, Tahoma,  "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}

h1, h2{
    font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

h3, h4, h5, h6, strong, em, b, i {
    font-family: Verdana, Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}


body {
	font-size: 11px;
	color: #555;
	background: #ffffff;
}

#page-container {
	width: 1100px;
	margin: auto;
	border: 1px solid #ddd;
	height: 5000px;
}

#header {
	background:#323232 url('../images/header.png') repeat;
	width:100%;
	height: 50px;
}

#nav-column {
	width:20%;
	float:left;
	border: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 5000px;
}

/*IMPORTANT!!*/
/*Even if 'nav-column' div is floated, the margin of this div has to be set and the width has to be adjusted properly.*/
#main-column {
	padding: 20px;	
	/*Since there is a padding of 20px in all the sides, the width has to be adjusted. I guess the width is calculated without the padding. So whenever the padding is changed, the width has to be changed*/
	width:76%;
 	 border: 2px solid #000; 
	height: 5000px;
	margin-left: 20%;
	}
	
#footer {
	clear: both;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #c9c9c9;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}

#footer a:hover {
	color: #db6d16;
}	

#nav-column #photo-box {
	border: 1px solid #ddd; 
	height: 200px;
	margin: 0 0 20px 0;
	}
	
#nav-column strong {
	color: #777;
}	

		
ul.nav-list {
	list-style:none;
	border:1px solid #092;
	padding: 0; /* Important! This will cause the list to align to the left of the div. By default this has a padding of 40px*/
	margin-left:20%;

}
ul.nav-list li {
	list-style:none;
	border:1px solid #ddd; 
/*	background: #def; */
}
ul.nav-list li ul{
	border:1px solid #092; 
	padding-left: 20px; /* Important!*/
}

ul.nav-list li a {
	color:#000;
/*	background: green; */
	display:block;
/* Padding makes the link to be in the centre*/
	padding: 5px 0px 5px 10px;
	text-decoration:none;	
	margin:0px;
	
}

ul.nav-list li a:hover {
	background: #E5ECFC;
}

ul.nav-list li a.selected {
	background:#323232 url('../images/header.png') repeat;
}
#tab-bar{
	/* background: #092; */
	height: 50px;
	width: 1100px;
	margin: auto;
	border:2px solid #000;
}
#tab-bar ul {
	float:right;
	height:50px;
	list-style:none;
	width:400px;
	/* background: #000; */
	margin: 0px;
	border:1px solid #092;
}
#tab-bar ul li {
	float:right;
	height:50px;
	list-style:none;
	border:1px solid #000;
}

#tab-bar ul li a {
	color:#fff;
/*	background: green; */
	display:block;
	height:20px;
	padding: 0;
	text-align:center;
	text-decoration:none;	
	margin:18px 0px 0px 0px;
	border:1px solid #000;
	padding: 10px 10px 0 10px;	
}

#tab-bar ul li a.selected {
	background: #476096;
}


#header-drop-down {
	position:relative;
	 height: 120px; 
	 width: 150px; 
	 z-index: 1;
	 /*I do not know how the hell this alignment works. Used brute force to find the correct position*/
	 left: 77%;
	 clear:both;
	border:1px solid #000;
	background: #fff;	 
}

#header-drop-down ul {
	margin: 0px;
	padding: 5px 0px 5px 0px;
}
#header-drop-down ul li {
	list-style:none;
	padding: 0;
	margin: 0;
}

#header-drop-down ul li a {
	color:#000;
	display:block;
	height:18px;
	padding: 0;
	text-decoration:none;	
	padding: 5px 0px 0px 12px;
}

#header-drop-down ul li a:hover {
	background: #ccc;
}

/*********** Form Table***********************/
.form-table {
	border-collapse: collapse;
	background: #E5ECFC;	
	width: 600px;
}
.form-table td {
	padding: 10px;
	border: 0px;
	border-bottom: 1px solid #fff;
}

.form-table input, .form-table textarea, .form-table select {
	padding: 1px;
	font-size: 100%;
	font-family: inherit;	
}

.form-table td strong {
	font-weight: bold;
	font-family: inherit;
}
/********************posts table********************/

.posts-table {
	border-collapse: collapse;
	border-top: 2px solid #eee;
	border-bottom: 1px solid #eee;
	width: 600px;
	background: #E5ECFC;
}
.posts-table td {
	padding: 10px 5px 20px 5px;
	border-bottom: 2px solid #fff;
}

.posts-table td strong {
font-weight: bold;
}
.posts-table td light {
color: #999;
}
.posts-table input, .posts-table textarea {
	padding: 1px;
	font-size: 100%;
	font-family: inherit;	
}

.heading1, .heading2, .heading3{
	font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-weight: bold;
	letter-spacing: 0.05em;
	/* border: 2px solid #000; */
}

.heading1{
	padding-bottom: 5px;
	border-bottom: 2px solid #eee;
	font-size: 200%;
}

.heading2{
	padding-bottom: 3px;
	border-bottom: 1px solid #eee;
	font-size: 150%;
}

.heading3{
	padding-bottom: 3px;
	border-bottom: 1px solid #eee;
	font-size: 120%;
}