/*
body: #555 (Grey)
#nav-column strong:  #777 (Grey)
ul.nav-list li a: #000 (Black);
#tab-bar ul li a: #fff (White);
#header-drop-down ul li a: #000 (White);
.posts-table td light: #999;
.heading1, .heading2, .heading3: #333;
*/

.hidden {
	display: none;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
    font-family: Tahoma, Verdana, Tahoma,  "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}

h1, h2{
    font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

h3, h4, h5, h6, strong, em, b, i {
    font-family: Verdana, Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}


body {
	font-size: 11px;
	color: #555;
	background:#323232 url('../images/body.png') repeat;	
}

#page-container {
	width: 1250px;
	margin: auto;
	background: #FAFAFA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;
	padding: 5px;
}

#header, #header-login {
	/*background:#323232 url('../images/new_header.png') repeat-x;*/
	background:#323232 url('../images/body.png') repeat;		
	width:100%;
	height: 50px;
}

#header-login {
	/*Increase the height for the login screen*/
	height: 100px;
	background:#323232 url('../images/new_header.png') repeat-x;	
}

#header-login .login {
	margin-left: 60%;
	color: #fff;
	height: 100px;
	/*This can be modified to adjust the height of the login controls (email and password fields) */
	padding-top: 10px;		
}

#header-login .login table{
	text-align: left;
	border-collapse: collapse;	
}

#header-login .login table td{
	padding-left: 10px;
	padding-top: 5px;
}

#header-login .login table td input{
	/*This is needed to have some space between the 'email' label and the text field*/
	margin-top: 5px;
	border: 1px solid #777;
}

#nav-column {
	width:15%;
	float:left;
	/*border: 1px solid #ddd;*/
	/*border-right: 1px solid #ddd;*/
	background: #FAFAFA;
}

/*IMPORTANT!!*/
/*Even if 'nav-column' div is floated, the margin of this div has to be set and the width has to be adjusted properly.*/
#main-column {
	padding: 20px;	
	/*Since there is a padding of 20px in all the sides, the width has to be adjusted. I guess the width is calculated without the padding. So whenever the padding is changed, the width has to be changed*/
	width:82%;
 /*	 border: 2px solid #000; */
	margin-left: 15%;
	background: #fff;
	}
	
#footer {
	clear: both;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #c9c9c9;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}

#footer a:hover {
	color: #db6d16;
}	

#header-login .logo, #header .logo {
    font-family: Verdana, Tahoma,  "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
	float: left;
	font-size: 300%;
	font-weight: bold;
	letter-spacing: -2px;
	color: #fff;		
	margin-left: 20%;	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-top: 25px;
}

#header .logo {
	font-size: 200%;
	margin-left: 20%;	
	padding-top: 10px;
}

#nav-column #photo-box {
	border: 1px solid #ddd;
	height: 200px;
	margin: 0 0 10px 0;
	background: #fff;
	}
	
#nav-column strong {
	color: #777;
}	

ul.nav-list {
	list-style:none;
/*	border:1px solid #092; */
	padding: 0; /* Important! This will cause the list to align to the left of the div. By default this has a padding of 40px*/
	margin-left:20%;

}
ul.nav-list li {
	list-style:none;
	/* border:1px solid #ddd;  */
/*	background: #def; */
}
ul.nav-list li ul{
/*	border:1px solid #092;  */
	padding-left: 20px; /* Important!*/
}

ul.nav-list li a {
	color:#000;
/*	background: green; */
	display:block;
/* Padding makes the link to be in the centre*/
	padding: 5px 0px 5px 10px;
	text-decoration:none;	
	margin:0px;
	
}

ul.nav-list li a:hover {
	background: #F2F2F2;
	color: #43749A;
}

ul.nav-list li a.selected {
	/*background: #E5ECFC;*/
	background:#323232 url('../images/new_header.png') repeat;
	color:#fff;
	font-weight:bold;
}
#tab-bar{
	/* background: #092; */
	height: 50px;
	/* The width should be same as the page-container*/
	width: 1250px;
	margin: auto;
/*	border:2px solid #000; */
}
#tab-bar ul {
	float:right;
	height:50px;
	list-style:none;
	width:400px;
	/* background: #000; */
	margin: 0px;
/*	border:1px solid #092; */
}
#tab-bar ul li {
	float:right;
	height:50px;
	list-style:none;
/*	border:1px solid #000; */
}

#tab-bar ul li a {
	color:#fff;
/*	background: green; */
	display:block;
	height:20px;
	padding: 0;
	text-align:center;
	text-decoration:none;	
	margin:18px 0px 0px 0px;
/*	border:1px solid #000; */
	padding: 10px 10px 0 10px;	
}

#tab-bar ul li a.selected {
	background: #476096;
}


#header-drop-down {
	position:relative;
	 height: 120px; 
	 width: 150px; 
	 z-index: 1;
	 /*I do not know how the hell this alignment works. Used brute force to find the correct position*/
	 left: 76%;
	 clear:both;
	border:1px solid #848484;
	background: #fff;	 
}

#header-drop-down ul {
	margin: 0px;
	padding: 5px 0px 5px 0px;
}
#header-drop-down ul li {
	list-style:none;
	padding: 0;
	margin: 0;
}

#header-drop-down ul li a {
	color:#848484;
	display:block;
	height:18px;
	padding: 0;
	text-decoration:none;	
	padding: 5px 0px 0px 12px;
}

#header-drop-down ul li a:hover {
	background: #E5ECFC;
}

#sign-up {
	width: 100%;
	background: #fff;
	padding: 50px 200px 50px 800px;
}

#sign-up table{
	text-align: left;
	border-collapse: collapse;	
}

#sign-up td{
	padding: 5px 0px 5px 0px;
}

#sign-up table td input{
	margin: 5px 5px 5px 0px;	
}

.heading1, .heading2, .heading3{
	font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding: 5px 5px 5px 10px;
}

.heading1{
	/*background: #FAFAFA;	*/
	background:#323232 url('../images/heading_bg.jpg') repeat-x;	
	font-size: 200%;
	margin-bottom: 10px;
	margin-top: 10px;	
}

.heading2{
	font-size: 150%;
}

.heading3{
	font-size: 120%;
}

.button input{
	font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;	
	color:#FFFFFF; 
	background:#323232 url('../images/new_header.png') repeat;
	font-size: 120%;
	font-weight: bold; 
	padding: 4px;	
}
