/* 'z' stands for zebra table */

table a {
	text-decoration: none;
	color: inherit;
}

.index_table_z, .one-column-emphasis, .input_form_table{
	color: #333;
	margin: 20px;
	/* width: 480px; */
	text-align: left;
	border-collapse: collapse;
	/*border-top: 1px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;	*/
	border: 2px solid #C3D6F2;	
}
.index_table_z th, .one-column-emphasis th, .input_form_table th {
	font-size: 100%;
	font-weight: bold;
	/* letter-spacing: 0.05em; */
	padding: 10px 8px;
	border-right: 1px solid #F2F2F2;
	border-left: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;		
}
.index_table_z td, .one-column-emphasis td {
	padding: 8px;
	border-right: 1px solid #F2F2F2;
	border-left: 1px solid #F2F2F2;	
}

.index_table_z tbody tr:hover td, .one-column-emphasis tr:hover td {
	color: #43749A;
}

.index_table_z tbody tr:hover td a:hover, .one-column-emphasis tr:hover td a:hover{
	text-decoration: underline;
}

.index_table_z tr:nth-child(even) {
	background: #E5ECFC;
}
.index_table_z tr:nth-child(odd) {
	background: #FFF
}

.one-column-emphasis {
	width: 600px;
}
.one-column-emphasis td {
	padding: 15px 8px 15px 8px;
	border-bottom: 1px solid #F2F2F2;	
}
.oce-first {
	width: 125px;
	background: #E5ECFC;
}

.input_form_table th {
	/* overwrite the borders here */ 
	border:1px solid #ccc;
	background: #E5ECFC;
}

.input_form_table td {
	border:1px solid #ccc;
	padding: 6px 8px;
}

.input_form_table input, .input_form_table textarea, .input_form_table select {
	padding: 2px 1px 2px 1px;
	font-size: 100%;
	font-family: inherit;	
}
.input_form_table input, .input_form_table textarea {
	border: 0px; /*  This is not working */
}

.input_form_table tbody tr:hover td a:hover {
	text-decoration: underline;
	color: #43749A;	
}

/*********** Form Table and posts table***********************/
#form-table-div{
	margin: auto;
	background: #E5ECFC;
	width: 640px;
	border: 1px solid #C3D6F2;
	padding-top: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;		
}

.form-table, .posts-table {
	margin: 10px 20px 10px 20px;
	color: #333;
	border-collapse: collapse;
	border: 3px solid #C3D6F2;
	background: #E5ECFC;
	width: 600px;
}

.form-table td, .form-table th{
	padding: 15px;
	border: 0px;
	border-bottom: 1px solid #D9E8FC;
}

 .form-table th {
	font-size: 100%;
	font-weight: bold;
	text-align:left;
 	border-top: 2px solid #F2F2F2;
 }

.form-table input, .form-table textarea, .form-table select {
	padding: 1px;
	font-size: 100%;
	font-family: inherit;	
}

.form-table td strong {
	font-weight: bold;
	font-family: inherit;
}

.posts-table {
	border-top: 2px solid #eee;
	border-bottom: 1px solid #eee;
}
.posts-table td {
	padding: 10px 5px 20px 5px;
	border-bottom: 2px solid #fff;
}

.posts-table td strong {
font-weight: bold;
}
.posts-table td light {
color: #999;
}
.posts-table input, .posts-table textarea {
	padding: 1px;
	font-size: 100%;
	font-family: inherit;	
}

/***************for the calendar*******************/

table.calendar {
  border-collapse: collapse;
  width: 100%;
}

table.calendar td,
table.calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

table.calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

table.calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

table.calendar .notmonth {
  color: #CCC;
}

table.calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

table.calendar #month a, table.calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}









/***************End calendar*******************/
/*This comes at here because these styles should not be over ridden by table styles*/
.button input{
	font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;	
	color:#FFFFFF; 
	background:#323232 url('../images/button_green.png') repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;	
	font-size: 120%;
	font-weight: bold; 
	padding: 4px;	
	border: 2px solid #aaa;
}

.add-button a, .remove-button a{
	display: block;
	text-align: center;
	width: 80px;
	color: #fff;
	background: #43749A;
	font-size: 100%;
	font-weight: bold;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;	  
	border: 2px solid #aaa;	
	text-decoration:none;	
}
.remove-button a{
	width: 15px;
	border: 2px solid #aaa;		
	padding: 5px;	
}