div.field, div.actions {
  margin-bottom: 10px;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px;
 }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_alert {
  background-color: #DCC;
  border: solid 1px #C66;
}

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

.field_with_errors{
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

th .arrow {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}
