<ul>
	<li> <%= link_to 'One student', section_any1_graphs_marks_path(:type => 'one_student', :section_id => section.id)%> </li>
	<li> <%= link_to 'One subject', section_any1_graphs_marks_path(:type => 'one_subject', :section_id => section.id)%> </li>
	<li> <%= link_to 'One test', section_any1_graphs_marks_path(:type => 'one_test', :section_id => section.id)%>	</li>
</ul>
