<table class='index_table_z' summary="Section tests index">
    <thead>	
		<tr>
			<th scope="col"> Test Name </th>
			<th scope="col"> Date </th>
		</tr>
	</thead>
    <tbody>
	<% section.tests.each do |t| %>
		<tr>
			<td> <%= t.name %> </td>
			<td>
				<i> Date to be updated </i>
			</td>
		</tr>
	<% end %>
    </tbody>	
</table>		



