<h1>editing </h1>
<div id="main-column">				
	<%= form_for @event do |f| %>
		<%= render 'shared/error_messages', :target => @event %>
		<%= render 'event_fields', :event => @event, :branch => @branch, :f => f %>	
    	<p class='button'> <%= f.submit  "Update event Event" %> </p>
	<% end %>
</div>