<%= form_tag (sms_teacher_path(teacher)) do |f| %>
	<table class="form-table"  summary="Student sms fields">
	    <tbody>	
			<%= render 'sms_fields' %>
		</tbody>
	</table>			
	<p> <%= submit_tag "Send Message" %> </p>
<% end %>
