<tr>
	<td> 
		<strong><%= label_tag "Number (Lasts 10 digits)"%></strong> 
	</td> 
	<td> 
		<%= text_field_tag :to, nil, :class => 'medium' %>
	</td>
</tr>		
<tr>
	<td> 
		<strong><%= label_tag "Message"%></strong> 
	</td> 
	<td> 
		<%= text_area_tag :message, nil, {:rows => 5, :cols => 40} %> 
	</td>
</tr>
