<div id="content">
	<div class="padding">

	<h1>Edit School</h1>
	
	<%= render 'form' %>
	
	<br><br>	
    <%= link_to 'Show', @school %> | 	<%= link_to 'Schools Index', schools_path %>
		
	</div>
</div>